services:
  backend:
    container_name: backend
    build:
      context: backend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - 3005:3005
    env_file: .env
    depends_on:
      db:
        condition: service_healthy  # Ждёт готовности БД
    networks:
      - internal_network

  frontend:
    container_name: frontend
    build:
      context: frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - 8080:4000
    env_file: .env
    networks:
      - external_network

  db:
    container_name: postgres
    image: postgres:16-alpine
    env_file: .env
    environment:  # Переменные PG явно
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER} 
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:${PGDATA}
    networks:
      - internal_network

  adminer:
    container_name: adminer
    image: adminer
    ports:
      - 8081:8080
    networks:
      - internal_network

volumes:
  postgres_data:

networks:
  internal_network:
    driver: bridge
  external_network:
    driver: bridge